site_name: CPLUS QGIS plugin

repo_name: 'kartoza/cplus-plugin'
repo_url: 'https://github.com/kartoza/cplus-plugin'

site_description: CPLUS
site_author: Kartoza

nav:
  - Home: index.md
  - Users:
      - user/index.md
      - Quick Start: user/quickstart/index.md
      - Guide: user/guide/index.md
      - Manual: user/manual/index.md
  - Administrators:
      - administrator/index.md
      - Guide: administrator/guide/index.md
      - Repository: administrator/repository/index.md
  - Developers:
      - developer/index.md
      - Setup: developer/setup/index.md
      - Architecture: developer/architecture/index.md
      - Documentation: developer/documentation/index.md
      - API:
          - Core:
            - Main: developer/api/core/api_main.md
            - Configuration: developer/core/api/api_conf.md
            - Settings: developer/api/core/api_settings.md
            - Utilities: developer/api/core/api_utils.md
            - Reports:
                - Generator: developer/api/core/api_reports_generator.md
                - Layout items: developer/api/core/api_reports_layout_items.md
                - Manager: developer/api/core/api_reports_manager.md
                - Variables: developer/api/core/api_reports_variables.md
          - Models:
            - Model base: developer/api/models/api_base.md
            - Helpers: developer/api/models/api_helpers.md
            - Report: developer/api/models/api_report.md
          - GUI:
            - GUI main: developer/api/gui/api_gui_main.md
            - Carbon item model: developer/api/gui/api_carbon_layer_model.md
            - Component item model: developer/api/gui/api_component_items.md
            - Implementation model editor: developer/api/gui/api_im_editor_dialog.md
            - Implementation model widget: developer/api/gui/api_im_widget.md
            - Items selection dialog: developer/api/gui/api_items_selection_dialog.md
            - Map repeat item widget: developer/api/gui/api_map_repeat_item_widget.md
            - Model component widget: developer/api/gui/api_model_component_widget.md
            - NCS Pathway editor: developer/api/gui/api_ncs_pathway_editor.md
            - Priority layer dialog: developer/api/gui/api_priority_layer.md
            - Priority group: developer/api/gui/api_priority_group.md
            - Progress dialog: developer/api/gui/api_progress_dialog.md
  - About:
      - Conservation International: about/ci.md
      - Kartoza: about/kartoza.md
      - License: about/license.md

plugins:
  - search
  - git-revision-date-localized
  - mkdocs-video
  - mkdocstrings:
      handlers:
        python:
          import:
            - https://docs.python.org/3/objects.inv
            - https://mkdocstrings.github.io/autorefs/objects.inv
          options:
            docstring_style: sphinx
            separate_signature: true
            merge_init_into_class: true
            docstring_options:
              ignore_init_summary: true

theme:
  name: material
  logo: about/img/cplus_logo_white_background.svg
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.indexes
    - navigation.instant
    - navigation.tabs.sticky
    - navigation.tracking
    - toc.integrate
    - toc.follow
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - header.autohide
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Dark mode
      primary: green
      accent: purple
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Light mode
      primary: teal
      accent: lime
extra:
  social:
    - icon: fontawesome/brands/github-alt

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
